*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/words/impression-words.iml
/.idea/codeStyles/
/.idea/codeStyles/
/.idea/shelf/
/.idea/
/base/target/base-1.0-SNAPSHOT.jar
/base/target/maven-archiver/pom.properties
